<div fxLayout="column" fxLayoutGap="2%">

  <mat-card>
    <mat-form-field>
      <input
        matInput
        (keyup)="filterProduct$.next($event.target.value)"
        placeholder="filter product name"
        type="text"
        data-cy="filterInput"
      />
    </mat-form-field>
     </mat-card>
  <mat-card class="error" *ngIf="errorMessage" data-cy="appError">
    got an error while loading the product list: {{ errorMessage }}
  </mat-card>
  <div *ngIf="products$ | async as products; else loadingOrError">
    <div
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="0.5%"
      fxLayoutAlign="start"
    >
      <div
        class="product"
        *ngFor="let product of products | productFilter: filterProductName"
        fxFlex="0 0 calc(25%-0.5%)"
        fxFlex.xs="100%"
      >
        <app-product [product]="product" data-cy="productCard"></app-product>
        
      </div>
    </div>
  </div>

  <ng-template #loadingOrError>
    <span *ngIf="errorMessage; else loading"></span>
    <ng-template #loading>
      <mat-spinner></mat-spinner>
    </ng-template>
  </ng-template>
</div>

