<mat-sidenav-container class="sidenav-container">

  <mat-sidenav   #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
  <div *ngIf="UserLoggedIn | async as User">
    <mat-nav-list>
      <a mat-list-item [routerLink]="['product/list']">Products</a>
      <a mat-list-item [routerLink]="['product/add']">Add product</a>   
      <a mat-list-item [routerLink]="['order/list/user']">Orders</a>
    </mat-nav-list>
  </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>shopaholic</span>
      <span class="fill-space"></span>
      <span style="display: flex;margin-left:auto;order:2" *ngIf="UserLoggedIn | async as user; else loginTemplate">
        {{ user }}
        <button style="margin-left:5px" (click)="logout()" mat-flat-button>
          logout
        </button>
      </span>
      <ng-template #loginTemplate>
        <span>
          <button (click)="login()" mat-flat-button>
            login
          </button>
        </span>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
