<mat-card>
    
    
    <mat-card-content>
      <div>
        <div
          fxLayout="row wrap"
          fxLayout.xs="column"
          fxLayoutGap="0.5%"
          fxLayoutAlign="start"
        >
          <div
            class="orderline"
            *ngFor="let orderline of orderlines$"
            fxFlex="0 0 calc(25%-0.5%)"
            fxFlex.xs="100%"
          >
          <app-orderline [orderLine]="orderline" data-cy="orderLineCard"> </app-orderline>         
            
          </div>
          
          <button (click)="confirmOrderCreation()" mat-flat-button>
            Are u sure u want to add the product to your order?<mat-icon>check</mat-icon>
          </button>
        </div>
      </div>

      
      <!-- <h3 mat-subheader>Different productdetails</h3>
      <mat-list>
        <mat-list-item *ngFor="let productDetail of productDetails">
          <app-product-detail [category]="productDetail"></app-product-detail>
        </mat-list-item>
      </mat-list> -->
    </mat-card-content>    
  </mat-card>
  <mat-card>
    <mat-card-content>
      <div>
     
        <mat-card-subtitle>Ordertotaal: {{order.orderTotaal}}</mat-card-subtitle>    
        
        <mat-card-subtitle>Creationdate: {{order.creationDate | date}}</mat-card-subtitle>
       
      </div>
    </mat-card-content>
  </mat-card>
  